{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contact Us</h1>
            <span class="subheading">Have questions? We have answers.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Want to get in touch? Reach us at :</p>
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <h3><i class="fa-sharp fa-solid fa-location-dot"></i> &nbsp; <a style = "color: green" href = "https://maps.app.goo.gl/Ld86RbPEJF9qtwr57"> 9, Elaf Tower (KSA), Madanpura, Mumbai - 08</a> </h3><br>
        <h3><i class="fa-solid fa-phone">&nbsp;</i>  <span style = "color: green" >+91 8080 129 174 </span> </h3><br>
        <h3> <i class="fa-brands fa-internet-explorer"></i> &nbsp;<a  style = "color: green" href = "https://www.mastereducation.in">  www.mastereducation.in</a></h3><br>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}