{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Master Classes registered Students</h1>
                    <span class="subheading">2022-2023</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form action="{{url_for('search_for')}}">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="search_bar" class="col-form-label">Search</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" placeholder="Surname + Name + Father's name" id="search_bar"
                               name="search_bar" class="form-control">
                    </div>
                    <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
      Enter the full name of the student to search in the database.
    </span>

                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>

                </div>
            </form>

            {% for student in students %}
            <div class="post-preview">
                <a href="{{ url_for('show_student', student_id=student.id) }}">
                    <h2 class="post-title">
                        {{student.name}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{student.mothers_name}}
                    </h3>
                </a>
                <p class="post-meta">Admission taken by
                    <a href="#">{{student.admitted_by}}</a>
                    on {{student.date_of_registration}} <a
                            href="{{ url_for('delete_student',student_id = student.id)}}">✘</a></p>
            </div>
            <hr>
            {% endfor %}


            <!-- New Post -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="{{ url_for('add_new_student') }}">Add a new Student</a>
            </div>
        </div>
    </div>
</div>
<hr>

{% include "footer.html" %}